<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Title</title>

    <link rel="stylesheet", href="{{ url_for('static',filename ='practice2.css')}}">
</head>
<body>

        <!-- <h1>Learning Flask</h1>
        <h4> ** using jinja2 in flask **</h4>
        <br>
        <h4> ** rendering dynamic data in flask **</h4>
        <p>Name is {{name}} and enrollment : {{enrollment}}</p>
        <br>
        
        {% for student in students %}
            <li>{{student}}</li>
        {% endfor %}


        <h3>-- HEADER --</h3>
        <p>Learning Flask...</p>

        {% block content %}
        {% endblock %}

        <footer>
            <h3>-- fOOTER --</h3>
        </footer> -->


        <!-- 17- augeust Practical : html -->


        <h1> Hello {{ Username }} </h1>

        <ul>
            {% for item in items %}
                <li> {{ item }}</li>
            {% endfor %}
        </ul>
        <button id="helloButton">HELLO</button>
    <script src="{{ url_for('static', filename ='script.js')}}" > </script>
</body>
</html>
